body{
    background-color: rgb(29, 29, 29);
}

.tekst{
    font-family: 'Courgette', cursive;
    text-align: center;
    color: white;
}

.nieuw{
    font-size: 30px;
}

.bezig{
    color: gold;
    font-size: 80px;
    border: gold 8px solid;
}