body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-color: black;
}

#myVideo {
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.myBtn1 {
       

    min-width: 45%;
    
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 80%;    
    letter-spacing: 0.2em;
    color: white;
    border-radius: 0;
    padding: 1%;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: 2px solid rgba(223,190,106);
    background-color: rgba(223,190,106, 0.4);
}

.myBtn1:hover {
    color: #fff;
    border: 2px solid rgba(223,190,106,0);
    color: white;
    background-position: 99% 50%;
  }

  .myBtn2 {
    
    min-width: 45%;

    background: transparent;
    text-transform: uppercase;
    font-style: normal;
    font-size: 80%;    
    letter-spacing: 0.2em;
    color: white;
    border-radius: 0;
    padding: 1%;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    background-color: rgba(223,190,106, 0.4);
    margin: 0.625rem;
    border: 2px solid rgba(223,190,106);
}

.myBtn2:hover {
    color: #fff;
    border: 2px solid rgba(223,190,106,0);
    color: white;
    background-position: 99% 50%;
  }

.myBtn1:focus{
    outline: none;
}
.myBtn2:focus{
    outline: none;
}

.tel-btn{
    padding: 14px;
    background: black;
    color: #fff;
	border-radius:10px;
	text-align:center;
    font-size:16px;
    border: 3px solid white;
}
  
.whatsapp-btn{
    padding: 10px;
    background-color:#25d366;
	color:#FFF;
	border-radius:10px;
	text-align:center;
    font-size:20px;
    border: none;
}

.messenger-btn{
    padding: 10px;
    background: #2196F3;
    color: #fff;
	border-radius:10px;
	text-align:center;
    font-size:20px;
    border: none;
}
.sms-btn{
    padding: 10px;
    background: black;
    color: #fff;
	border-radius:10px;
	text-align:center;
    font-size:20px;
    border: 2px solid white;
}

i{
    font-size:22px;
    margin-right: 2%;
}

.messenger-btn:hover, .whatsapp-btn:hover, .tel-btn:hover, .sms-btn:hover, .tel-btn:hover{
    color: white;
    text-decoration: underline;
}
